service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita para qualquer pessoa (não recomendado para produção)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}